AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript

<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=172800, public, must-revalidate"
  </IfModule>

</FilesMatch>

RedirectMatch 404 /\.git