/* CSS for flicker effect */

@keyframes flicker {
    0% {
        opacity: 0.07349;
    }
    5% {
        opacity: 0.83402;
    }
    10% {
        opacity: 0.32431;
    }
    15% {
        opacity: 0.88652;
    }
    20% {
        opacity: 0.41281;
    }
    25% {
        opacity: 0.09927;
    }
    30% {
        opacity: 0.07366;
    }
    35% {
        opacity: 0.43826;
    }
    40% {
        opacity: 0.36271;
    }
    45% {
        opacity: 0.77558;
    }
    50% {
        opacity: 0.96138;
    }
    55% {
        opacity: 0.79892;
    }
    60% {
        opacity: 0.17219;
    }
    65% {
        opacity: 0.21851;
    }
    70% {
        opacity: 0.52721;
    }
    75% {
        opacity: 0.67075;
    }
    80% {
        opacity: 0.83099;
    }
    85% {
        opacity: 0.50289;
    }
    90% {
        opacity: 0.11601;
    }
    95% {
        opacity: 0.48927;
    }
    100% {
        opacity: 0.1449;
    }
}

.monitor::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.5s infinite;
}

.monitor::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}